@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap');

.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  min-height: 100svh;
}

@media (prefers-color-scheme: dark) {
  .main {
    --background: linear-gradient(to bottom, #020617 0%, #0b3d91 350%);
    --primary: #ff02ab;
    --primary-text-shadow:
      0 0 2px #020617,
      0 0 6px #ff02ab,
      0 0 60px #ff02ab7a;
    --primary-box-shadow:
      0 0 4px #ff92db,
      0 0 40px #f7a6dc65,
      inset 0 0 6px #f597d5;
    --secondary: #02eeff;
    --secondary-text-shadow:
      0 0 2px #020617,
      0 0 6px #02f7ff,
      0 0 60px #02e1ff7a;
    --secondary-box-shadow:
      0 0 4px #02f7ff,
      0 0 40px #02eeff36,
      inset 0 0 6px #02f7ff;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 70%;
  gap: 32px;
  margin: auto;
  margin-top: 100px;
}


.content {
  width: 100%;
  align-self: center;
  height: 450px;
  position: relative;
  background-color: transparent;
  border: 2px solid #ff02ab;
  border-radius: 12px;
  padding: 1rem 2rem;
  box-shadow: var(--primary-box-shadow);
}

.featured {
  position: absolute;
  top: 40%;
  right: 38%;
}

.postsContainer {
  display: flex;
  gap: 2rem;
}

.recentPosts {
  height: 200px;
  width: 350px;
  border: 2px solid #02c4ff;
  border-radius: 12px;
  box-shadow: var(--secondary-box-shadow);
}

.link {
  color: var(--secondary);
  text-shadow: var(--secondary-text-shadow);
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 158px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}