.title {
    font-size: 1.5rem;
}

.articleContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 3rem;
    width: 100%;
}

.posts {
    position: relative;
    text-align: center;
    padding: 1rem;
    border-radius: 8px;
}

.posts::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 70px;
    height: 70px;
    border-top: 3px solid #00063d;
    border-left: 3px solid #00063d;

}

.posts::after {
    content: "";
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 70px;
    height: 70px;
    border-bottom: 3px solid #00063d;
    border-right: 3px solid #00063d;
}
