.article-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  margin: 2rem auto;
  max-width: 100%;
}

.post-contents-container {
  width: 40%;
}

.post-title {
  font-size: 25px;
  margin: 0px;
}

.article-list-container img {
  display: block;
  margin: 0px;
  max-width: 100%;
  border-radius: 2px;
}