.article-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Roboto", sans-serif;
  margin: 0px 400px;
}

.blog-banner {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  width: 100%;
}

.blog-banner-title {
  font-size: 35px;
}

.latest-post {
  color: #686868;
}

.link-container {
  width: 100%;
}

article {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin: 2rem auto;
  max-width: 100%;
}

.post-img {
  width: 500px;
}

.post-contents-container {
  /* width: 100%; */
}

.post-title {
  font-size: 25px;
  margin: 0px;
}

@media (max-width: 1020px) {
  article {
    flex-direction: column;
    align-items: center;
  }

  .post-img {
    width: 60%;
  }

  .post-contents-container {
    width: 60%;
  }
}

@media (max-width: 600px) {
  .post-title {
    font-size: 18px;
  }
}